<div class="wrapper" data-grid="spacing">
    <aside data-cell="1of2">
        <h2>Entre em contato comigo</h2>
        <p>
            Tem interesse em criar uma marca e divulgá-la na web?<br>
            Preencha o formulário na caixa ao lado ou envie um e-mail para:
            <a href="mailto:maryanasales@live.com" title="Meu e-mail para você falar comigo">maryanasales@live.com</a>            
        </p>
        <p>
            Se preferir, me encontre nas redes sociais:<br>
            <a href="https://www.facebook.com/maryanasales" title="Meu perfil pessoal" target="_blank">Facebook</a> -
            <a href="https://www.linkedin.com/in/maryanasales" title="Meu perfil profissional" target="_blank">Linkedin</a> -
            <a href="https://github.com/maryanasales" title="Meus códigos!" target="_blank">Github</a>
        </p>
        <p>
            Trabalharemos juntos para chegar no melhor projeto final para você!
        </p>
    </aside>

    <form data-cell="1of3">
        <p>
            <label for="txtNome">Nome</label>
            <input type="text" id="txtNome" placeholder="Como vou chamar você">
        </p>
        <p>
            <label for="txtEmail">E-mail</label>
            <input type="text" id="txtEmail" placeholder="nome@dominio.com.br">
        </p>
        <p>
            <label for="txtMensagem">Mensagem</label>
            <textarea id="txtMensagem" placeholder="Me diga como posso te ajudar"></textarea>
        </p>
        <button type="submit" data-btn="btn">Enviar mensagem</button>
    </form>
</div>