
<div class="wrapper" data-grid="center spacing">

    <div data-cell="2of3">
        <h2 class="page-title">Olar!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quis quasi 
            illum modi debitis ad, dolorum rerum accusantium quo voluptatum voluptate 
            eligendi enim exercitationem totam omnis itaque repellat impedit ab.</p>
        <p><a href="{{ site.baseurl }}/about/" data-btn>perfil...</a></p>
    </div>

    <div data-cell="1of3 fill">
        <img src="{{ site.baseurl }}/img/ORYCIK0.png" alt="Mary" class="hero-illustration">
    </div>

</div>
