
<div class="wrapper">
    
    <div data-grid="spacing">

        <div data-cell="3of4">
            <h2>Blog</h2>
            
            {% for post in site.posts %}
        
            <article>
                <h3><a href="{{ site.baseurl }}{{ post.url }}" class="post-link">{{ post.title }}</a></h3>
                {{ post.excerpt }}
            </article>
        
            {% endfor %}
        </div>

        <div data-cell="1of4"></div>

    </div>
        
</div>
