<div class="wrapper" data-grid="spacing center">
    <div data-cell="1of3">
        <img src="#" alt="{{ site.title }}">
    </div>
    <div data-cell="2of3">
        <h1>Maryana Sales</h1>        
        <p>
            Criando layouts e escrevendo linhas de código há uma década.
            Tão apaixonada por design e projetos web, que tornei isso minha profissão.
        </p>
        <p>
            Graduada em Produção Multimídia, trabalho como desenvolvedora front-end 
            e no tempo livre me dedico a trabalhos autorais.
        </p>
        <p>
            Sigo pela web tentando florear um pouco mais cada canto, assim como na vida.
        </p>
        <a data-btn="btn" href="#servicos" title="Conheça o que posso fazer por você">Quero florear!</a>
    </div>
</div>