%section-spacing
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2


.txt-center
    text-align: center

.section-
    &sobre      

        img 
            border-radius: 100%

        h1
            text-transform: uppercase
            font-size: 2em
            font-weight: bold
            margin: 0

    &servicos
        article
            padding: $spacing-unit $spacing-unit * 2      

            &:hover svg *, &:focus svg *
                color: $brand-color
            svg 
                width: 80px
                height: 80px                
                *
                    fill: currentcolor

    &portfolio
        padding: $spacing-unit * 2
        background-image: url(../img/background.jpg)
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

        h2 
            margin: 0

    &contato 
        padding: $spacing-unit * 2

        form 
            position: relative
            background-color: #fff
            padding: $spacing-unit
            border-radius: 8px
            box-shadow: 0 0 10px #ddd
            margin-bottom: -80px

            &:before 
                content: url(../img/contato.svg)
                display: block
                width: 30px
                height: 30px
                position: absolute
                top: -30px
                left: 50%
                margin-left: -30px     
                padding: $spacing-unit / 2           
                background-color: $brand-color
                border-radius: 100%

.section-
    &hero
        @extend %section-spacing
        
        .hero-illustration
            position: absolute
            right: 5%
            max-height: 100%
            top: 60px
            +media-query($on-laptop)
                right: 0
                max-width: 220px
            +media-query($on-palm)
                top: 280px
                height: 260px
                right: 25px
            +media-query(410px)
                top: 320px

